<section class="height-50 bg--dark imagebg page-title page-title--animate" data-overlay="5">
  <div class="background-image-holder">
    <%=image_tag("volunteer_hero.jpg")%>
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h2>Volunteer</h2>
        <p class="lead">Your help would mean the world to somebody. Simply fill out this form and we will help to introduce you to causes and organizations that are making extraordinary contributions to improving the lives of our fellow brothers and sister. The choice
          to do something great is yours, we are here to help you along the way.</p>
      </div>
    </div>
  </div>
</section>

<section class="elements-forms">
  <%= render "form", volunteer: VolunteerProfile.new, method: :post, url: volunteer_profiles_path, button_text: "Create Profile", show_profile: current_user.nil? %>
</section>



<% content_for :javascript do %>
  <script>
    $(document).ready(function() {
      var $select;
      var options = JSON.parse('<%= @skills %>');
      $select = $('#select-volunteer').selectize({
        maxItems: 6,
        searchField: "name",
        labelField: 'name',
        valueField: 'id',
        options: options
      });
    });
  </script>
  <% end %>
