<section class="height-50  page-title page-title--animate">
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Hello <%= @user.first_name.titleize %>!</h1>
        <p>You can view and edit your profile or any requests you have submitted here!</p>
      </div>
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<section class="tabs-container tabs-5 text-center">
  <ul class="tabs">
    <li class="active">
      <div class="tab__title">
        <h6>Profile</h6>
      </div>
      <div class="tab__content">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <p>
                <%= render "volunteer_profiles/form", volunteer: @user.volunteer_profile, method: :put, url: user_path, button_text: "Update Profile" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="tab__title">
        <h6>Monthly</h6>
      </div>
      <div class="tab__content">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <p>
                Gamification investor focus facebook sales angel investor churn rate conversion beta accelerator infographic www.discoverartisans.com rockstar. Partner network partnership founders user experience assets www.discoverartisans.com angel investor. Return
                on investment beta market www.discoverartisans.com validation freemium conversion.
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="tab__title">
        <h6>Annually</h6>
      </div>
      <div class="tab__content">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <p>
                Backing leverage incubator mass market strategy bandwidth innovator low hanging fruit success seed money. IPad monetization termsheet ownership beta product management www.discoverartisans.com success research & development. Early adopters termsheet venture
                client A/B testing pivot freemium innovator funding entrepreneur.
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
