<ul class="social-list">
  <li>
    <a href="https://twitter.com/wtpcommons" target="_blank">
      <i class="socicon-twitter"></i>
    </a>
  </li>
  <li>
    <a href="https://www.facebook.com/We-The-People-Commons-164954103999872/" target="_blank">
      <i class="socicon-facebook"></i>
    </a>
  </li>
  <li>
    <a href="https://medium.com/wethepeoplecommons" target="_blank">
      <i class="socicon-medium"></i>
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/wethepeoplecommons" target="_blank">
      <i class="socicon-instagram"></i>
    </a>
  </li>
</ul>
