<div class="modal-instance">
  <a class="btn modal-trigger btn--primary" href="#">
    <span class="btn__text">Get Help</span>
  </a>
  <div class="modal-container">
    <div class="modal-content bg--white height--natural">
      <div class="form-subscribe-1 boxed boxed--lg bg--white box-shadow-wide">
        <div class="subscribe__title text-center">
          <h4>Submit a Request</h4>
          <p>Need web related help for your cause? No problem! Start by inputting your email first so we know how to contact you when we match you with volunteers.</p>
        </div>
        <form class=" form--center-submit-button" action="http://mrareco.createsend.com/t/d/s/kieth/" method="post" id="subForm" data-error="Please fill all fields correctly." data-success="Thanks for signing up! Please check your inbox for confirmation email.">
          <div class="input-with-icon">
              <label for="fieldEmail">Email Address</label>
              <i class="icon icon-Mail-2"></i>
              <input class="validate-required validate-email" id="fieldEmail" name="cm-kieth-kieth" type="email" required />
          </div>
          <button type="submit">Continue  <i class="fa fa-long-arrow-right color--white"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
