<div class="modal-instance">
    <a class="btn modal-trigger btn--primary" href="#">
        <span class="btn__text">Get Help</span>
    </a>
    <div class="modal-container">
        <div class="modal-content bg--white height--natural">
            <div class="form-subscribe-1 boxed boxed--lg bg--white box-shadow-wide">
                <div class="subscribe__title text-center">
                    <h4>Request</h4>
                    <p class="lead">
                        Subscribe for free resources and news updates.
                    </p>
                </div>
                <form class=" form--center-submit-button" action="http://mrareco.createsend.com/t/d/s/kieth/" method="post" id="subForm" data-error="Please fill all fields correctly." data-success="Thanks for signing up! Please check your inbox for confirmation email.">
                    <div class="input-with-icon">
                        <label for="fieldEmail">Email Address</label>
                        <i class="icon icon-Mail-2"></i>
                        <input class="validate-required validate-email" id="fieldEmail" name="cm-kieth-kieth" type="email" required />
                    </div>
                    <button type="submit">Subscribe Now</button>
                </form>
            </div>
        </div>
        <!--end of modal-content-->
    </div>
    <!--end of modal-container-->
</div>