<div class="modal-instance">
  <a class="btn modal-trigger btn--primary" href="#">
    <span class="btn__text">Get Help</span>
  </a>
  <div class="modal-container">
    <div class="modal-content bg--white height--natural">
      <div class="form-subscribe-1 boxed boxed--lg bg--white box-shadow-wide">
        <div class="subscribe__title text-center">
          <h4>Submit a Request</h4>
          <p>Need web related help for your cause? No problem! Start by inputting your email first so we know how to contact you when we match you with volunteers.</p>
        </div>

        <%= form_for Visitor.new, url: visitors_path, method: :post, html: {class: "form--center-submit-button"} do |f| %>
          <%= f.hidden_field :group, value: "Requester" %>
          <div class="input-with-icon">
            <label for="fieldEmail">Email Address</label>
            <i class="icon icon-Mail-2"></i>
            <%= f.email_field :email, class: "validate-required validate-email", required: true, placeholder: "Email Address" %>
          </div>
          <%= f.button :submit, class: "btn" do %>
            Continue  <i class="fa fa-long-arrow-right color--white"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
