<div class="modal-instance">
  <a class="btn modal-trigger btn--primary xs-mt5" href="#">
    <span class="btn__text">Volunteer</span>
  </a>
  <div class="modal-container">
    <div class="modal-content bg--white height--natural">
      <div class="form-subscribe-1 boxed boxed--lg bg--white box-shadow-wide">
        <div class="subscribe__title text-center">
          <h4>Become a Volunteer</h4>
          <p>Wanna make a real impact? You are in the right place! Start by inputting your email so we know how to contact you when opportunites comes up.</p>
        </div>

        <%= form_for Visitor.new, url: visitors_path, method: :post, html: {class: "form--center-submit-button"} do |f| %>
          <%= f.hidden_field :type, value: "Volunteer" %>
          <div class="input-with-icon">
            <label for="fieldEmail">Email Address</label>
            <i class="icon icon-Mail-2"></i>
            <%= f.email_field :email, required: true, placeholder: "Email Address" %>
          </div>
          <%= f.button :submit, class: "btn" do %>
            Continue  <i class="fa fa-long-arrow-right color--white"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
