<section class="imagebg height-100 cover cover-7" data-overlay="6">
    <div class="background-image-holder">
        <%=image_tag("flag_background.jpg")%>
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1 class="declaration--text declaration--text__home">
                    WeThePeople<span class="supporting--text"> commons</span>
                </h1>
                <h3 class="">
                    Helping Each Other, Help Others
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center-xs">
                <form class="form--merge">
                    <input class="col-md-8 col-sm-7" type="search" name="search" placeholder="your@email.com" />
                    <button class="col-md-4 col-sm-5 btn btn--primary x1halfem" type="submit">Keep Me Informed !</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="#about_us" class="h5 text__underline scroll-to">Find Out More</a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 text-center pos-absolute pos-bottom">
        <ul class="social-list">
            <li>
                <a href="#">
                    <i class="socicon-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="socicon-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="socicon-medium"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="socicon-instagram"></i>
                </a>
            </li>
        </ul>
    </div>
</section>
<section class="height-100 bg--primary" id="about_us">
    <div class="container pos-vertical-center ">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <h2 class="">About Us
                </h2>
                <p class="lead">
                    We were frustrated...we wanted to help, but didn't know how. 
                    </p>
                <p class="lead">
                    We couldn't find a place where concerned citizens could contribute their skills to worthwhile causes.
                </p>
                <p class="lead">
                    We wanted to help bring together good causes, with good people.
                </p>
                <p class="lead">Hence, <span class="declaration--text"> WeThePeople</span> was born.
                </p> 
            </div>
        </div>
    </div>
</section>
<section class="section--overlap">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="card card-1">
                    <div class="card__icon">
                        <i class="icon icon--lg icon-Loudspeaker"></i>
                    </div>
                    <div class="card__body boxed bg--white text-center">
                        <div class="card__title">
                            <h4>Request Help</h4>
                        </div>
                        <p>
                            Grok integrate thinker-maker-doer piverate entrepreneur sticky note iterate waterfall is so 2000 and late 360 campaign cortado quantitative vs. qualitative.
                        </p>
                           <div class="modal-instance">
                            <a class="btn modal-trigger btn--primary btn--lg " href="#">
                                <span class="btn__text x1halfem">Make a Request</span>
                            </a>
                            <div class="modal-container">
                                <div class="modal-content bg--white height--natural">
                                    <div class="form-subscribe-1 boxed boxed--lg bg--white box-shadow-wide">
                                        <div class="subscribe__title text-center">
                                            <h4>Make a Request</h4>
                                            <p class="lead">
                                                Subscribe for free resources and news updates.
                                            </p>
                                        </div>
                                        <form class=" form--center-submit-button" action="http://mrareco.createsend.com/t/d/s/kieth/" method="post" id="subForm" data-error="Please fill all fields correctly." data-success="Thanks for signing up! Please check your inbox for confirmation email.">
                                            <div class="input-with-icon">
                                                <label for="fieldName">Your Name</label>
                                                <i class="icon icon-Male-2"></i>
                                                <input id="fieldName" name="cm-name" type="text" />
                                            </div>
                                            <div class="input-with-icon">
                                                <label for="fieldEmail">Email Address</label>
                                                <i class="icon icon-Mail-2"></i>
                                                <input class="validate-required validate-email" id="fieldEmail" name="cm-kieth-kieth" type="email" required />
                                            </div>
                                            <button type="submit">Subscribe Now</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--end of modal-container-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="card card-1">
                    <div class="card__icon">
                        <i class="icon icon--lg icon-Business-ManWoman"></i>
                    </div>
                    <div class="card__body boxed bg--white text-center">
                        <div class="card__title">
                            <h4>Contribute Skills</h4>
                        </div>
                        <p>
                            Grok integrate thinker-maker-doer piverate entrepreneur sticky note iterate waterfall is so 2000 and late 360 campaign cortado quantitative vs. qualitative.
                        </p>
                       <div class="modal-instance">
                            <a class="btn modal-trigger btn--primary btn--lg " href="#">
                                <span class="btn__text x1halfem">Volunteer</span>
                            </a>
                            <div class="modal-container">
                                <div class="modal-content bg--white height--natural">
                                    <div class="form-subscribe-1 boxed boxed--lg bg--white box-shadow-wide">
                                        <div class="subscribe__title text-center">
                                            <h4>Contribute your skills</h4>
                                            <p class="lead">
                                                Subscribe for free resources and news updates.
                                            </p>
                                        </div>
                                        <form class=" form--center-submit-button" action="http://mrareco.createsend.com/t/d/s/kieth/" method="post" id="subForm" data-error="Please fill all fields correctly." data-success="Thanks for signing up! Please check your inbox for confirmation email.">
                                            <div class="input-with-icon">
                                                <label for="fieldName">Your Name</label>
                                                <i class="icon icon-Male-2"></i>
                                                <input id="fieldName" name="cm-name" type="text" />
                                            </div>
                                            <div class="input-with-icon">
                                                <label for="fieldEmail">Email Address</label>
                                                <i class="icon icon-Mail-2"></i>
                                                <input class="validate-required validate-email" id="fieldEmail" name="cm-kieth-kieth" type="email" required />
                                            </div>
                                            <button type="submit">Subscribe Now</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--end of modal-container-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="height-80 cover cover-2">
    <div class="col-md-6 col-sm-5">
        <div class="background-image-holder">
            <%=image_tag("flag_background.jpg")%>
        </div>
    </div>
    <div class="col-md-6 col-sm-7 bg--white text-center">
        <div class="pos-vertical-center">
            <h2 class="">Our Creations</h2>
            <p class="lead">
                Want to see<br> some of our past work ?
                <br /> 
            </p>
            <%=link_to creations_path, class: "btn btn--primary btn--lg" do %>
            <span class="btn__text x1halfem">
                View Our Creations
            </span>
            <%end%>
        </div>
    </div>
</section>
<section class="height-50 mt64">
    <div class="container">
        <div class="col-xs-10 col-xs-offset-1 text-center">
            <h3>
                <span class="declaration--text">WeThePeople</span><br>is entirely funded by contributions from donors like you. 
            </h3>
            <button class="btn btn--primary btn--lg x1halfem" type="submit">Donate Today</button>
        </div>
    </div>
</section>