<section class="height-50  page-title page-title--animate">
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Edit Requests</h1>
        <p>If your needs has changed, feel free to update the details below!</p>
      </div>
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<section class="elements-forms">
  <%= render "form", request: @request, method: :put, url: requests_path, button_text: "Update Request", show_profile: false %>
</section>


<% content_for :javascript do %>
<script>
$(document).ready(function(){
  var options            = JSON.parse('<%= @skills %>');
  var selectedRequest = JSON.parse('<%= @requested_skills %>');
  var $selectRequest  = $('#select-request').selectize({
    maxItems: 6,
    searchField: "name",
    labelField: 'name',
    valueField: 'id',
    options: options
  });
  var selectizeRequest = $selectRequest[0].selectize;
  selectizeRequest.setValue(selectedRequest, true);
});
</script>
<% end %>
