<section class="height-40 page-title page-title--animate">
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 text-center">
        <h1>Browse Requests</h1>
        <p>Gift the world some good. Check out what help requests social good organizations have made and connect with them to <strong>discover how you can make a difference !</strong></p>
      </div>
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3 hidden-sm hidden-xs">
        <%= render 'shared/side_filter', skills: @skills, urgencies: @urgencies, title: "Filter by Skills Needed" %>
      </div>
      <div class="col-md-8 col-md-offset-1">
        <%= render "requests", requests: @requests, for_profile: false %>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->

</section>

<% content_for :javascript do %>
<script>
$(document).ready(function(){
  $('.skills-list li, .urgency-list li').click(function(e){
    e.preventDefault();
    var selected_class = $(this).attr("class");
    $('.skills-list li').not(selected_class).removeClass("active");
    $(this).addClass("active");
    if (selected_class === "show-all"){
     $(".blog-item").show("slow");
    } else {
     var target_class = ".blog-item" + "." + selected_class
     $(".blog-item").not(target_class).hide("slow");
     $(target_class).show("slow");
    };
  });
});
</script>
<% end %>
