<section class="height-50 bg--dark imagebg page-title page-title--animate" data-overlay="5">
  <div class="background-image-holder">
    <%=image_tag("request_hero.jpg")%>
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <h2>Request Help</h2>
        <p class="lead">Be strong enough to stand alone, smart enough to know when you need help, and brave enough to ask for it. We are here to help you along the way. Fill out this form so talented volunteers can contribute the extra skills you need to make a real difference.   </p>
      </div>
    </div>
  </div>
</section>
<section class="elements-forms">
  <%= render "form", request: Request.new, method: :post, url: requests_path, button_text: "Request Help", show_profile: current_user.nil? %>
</section>


<% content_for :javascript do %>
<script>
$(document).ready(function(){
  var $select;
  var options = JSON.parse('<%= @skills %>');
  $select = $('#select-request').selectize({
      maxItems: 4,
      searchField: "name",
      labelField: 'name',
      valueField: 'id',
      options: options
  });
});
</script>
<% end %>
