<section class="height-50 bg--primary">
  <div class="container">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h3>
        <span class="declaration--text">WeThePeople</span><br> is entirely funded by contributions from donors like you.
      </h3>
      <button class="btn btn--primary btn--lg x1halfem" type="submit">Donate Today</button>
    </div>
  </div>
</section>
